@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

h1 {
    margin: 0;
    font-size:clamp(2rem, 2.5vw, 3rem) ;
}

h2 {
    margin: 0;
    font-size:clamp(1.6rem, 2.5vw, 1.8rem) ;
}

p {
    margin: 0;
    font-size:clamp(1rem, 2.5vw, 1.1rem) ;
    font-weight:400;
    color: rgb(171, 193, 245);
}

body{
   width: 100%;
   margin: 0 auto;
   font-family: 'Montserrat', sans-serif;
   color: white;
   background-color: rgb(1, 15, 47);
}

.chart_list{
    margin-bottom: 7.5rem;
}

.chart_container{
    width: 100%;
    display: flex;
    padding: 1rem;
    border-top: 1px solid rgb(171, 193, 245);
    cursor: pointer;
}

.chart_container:hover{
    background-color: rgba(2, 37, 117, 0.383);
}

.chart_left{
    width: 20%;
    display: flex;
}

.chart_song--container{
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.chart_number {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(2, 37, 117, 0.698);
}

.chart_week{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.chart_img{
    width: 6rem;
    height: 5.5rem;
    align-self: flex-start;
    margin-right: 1rem;
}

.chart_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.chart_song--info{
    align-self: center;
}
.chart_song {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chart_release{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.chart_number--text {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart_container--text{
    width: 100%;
    display: flex;
    padding: 1rem;
    cursor: pointer;
    margin-top: 3rem;
    text-transform: uppercase;
}

.chart_mobile--number{
    display: none;
}

@media (max-width:550px) {
        .streams{
            display: none;
        }  

        .chart_left{
            display: none;
        }
        .chart_mobile--number{
           display: inline-block;
           background-color: rgba(2, 37, 117, 0.698);
           padding: .3rem .8rem;
        }

        .chart_release{
            display: flex;
            justify-content: flex-end;
            width: 35%;
        }

        .release{
            align-self: flex-start;
        }
}